.search_bar {
    text-align: center;
    width: 20%;
    height: 10.5rem;
    margin-top: 1rem;
    margin-left: 40%; 
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2f0c3d;
}

.search_input {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1.15rem;
}

.select {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.submit:hover {
    background-color: #fff4ea;
}
